#include <windows.h>

#include "winedit.h"

EDIT_ICON		ICON "WinEdit.ico"
EDIT_ICON_DLG	ICON "WinEditDlg.ico"

1 VERSIONINFO 
FILEVERSION 1, 4, 0, 0
PRODUCTVERSION 1, 4, 0, 0
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "ProductName",		"The MDI Windows Editor\0"
			VALUE "ProductVersion",		"1.4\0"
			VALUE "CompanyName",		"Martin Gäckler\000"
			VALUE "FileDescription",	"Windows Editor\000"
			VALUE "FileVersion",		"1.4.0\000"
			VALUE "InternalName",		"WinEdit\000"
			VALUE "LegalCopyright",		"© 1995-2026 by Martin Gäckler\000"
			VALUE "OriginalFilename",	"winedit.exe\000"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 1252
	}
}

